<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Role Rights Report:</title>
  </head>
  <body>
    <h2>Role Rights Report</h2>
    <table>
      <thead>
        <tr>
          <th>Role/Profile/TemplateName</th>
          <th>Role/Profile/TemplateDescription</th>
          <th>Rights Assigned to Role</th>
          <th>Rights Description</th>
          <th>Rights Assigned Y/N</th>
          <th>Status of the Role/Profile/TemplateName</th>
          <th>Profile Assigned to</th>
          <th>Type of Access</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="report : ${rolereport}">
          <td th:text="${report.roleprofiletemplatename}"></td>
          <td th:text="${report.roleprofiletemplatedescription}"></td>
          <td th:text="${report.rightsassignedtorole}"></td>
          <td th:text="${report.rightsdescription}"></td>
          <td th:text="${report.rightsassignedyn}"></td>
          <td th:text="${report.statusofroleprofiletemplatename}"></td>
          <td th:text="${report.profileassignedto}"></td>
          <td th:text="${report.typeofaccess}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
